.user-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border-color);
  gap: 1.7em;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &__index {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    color: var(--text-mute);
  }

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  &__main-name {
    display: flex;
    flex-direction: column;
    width: 12rem;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
  }
  &__gender {
    font-size: 0.8em;
    color: var(--text-mute);
    font-weight: bold;
  }
  &__info {
    padding-left: 4rem;
    color: var(--text-secondary);
    font-size: 0.8em;

    &__email {
      color: var(--primary-color);
      font-weight: bold;
      font-size: 1rem;
    }

    &__address {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;

      span:not(:first-child):not(:nth-child(3))::before {
        content: ", ";
      }
    }
  }

  &__flag {
    position: absolute;
    right: 2.4em;
    top: 50%;
    transform: translateY(-50%);
  }
}
