@use "sass:map";
@use "./variables" as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if map.has-key(vars.$breakpoints, $breakpoint) {
    @media (max-width: map.get(vars.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}
